@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #f1c40f;
    --secondary: #d946ef;
    --dark: #020617;
    --light: #f8fafc;
    margin: 0 auto;

    font-family: "Mada", system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    @apply text-light;
    @apply bg-slate-950;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
}

a {
  @apply text-light;
}

p {
  @apply text-lg;
  @apply leading-normal;
  @apply mb-4;
}

::selection {
  background: rgba(241, 196, 15, 0.2);
}

button {
  all: unset;
}

svg {
  width: 100%;
  height: 100%;
}

img,
video {
  display: block;
  width: 100%;
  height: auto;
}

#toasts-portal {
  z-index: 10000;
  position: fixed;
  @apply top-auto;
  @apply md:top-0;
  @apply bottom-10;
  @apply md:bottom-auto;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  gap: 10px;
  pointer-events: none;
}

.toast {
  @apply px-6;
  @apply py-2;
  @apply backdrop-blur-sm;
  @apply font-semibold;
  @apply text-center;
  @apply text-white;
  @apply bg-slate-600/70;
  @apply border;
  @apply border-white/10;
  @apply pointer-events-auto;
  @apply whitespace-nowrap;
  @apply rounded-full;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
    0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07),
    0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07),
    0 32px 64px rgba(0, 0, 0, 0.07);
}
