@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0 auto;

  font-family: Mada, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  @apply text-white;
  @apply bg-slate-950;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p {
  @apply text-base;
  @apply md:text-lg;
  @apply leading-normal;
  @apply mb-4;
}

::selection {
  @apply bg-primary/20;
}

svg {
  width: 100%;
  height: 100%;
}

img,
video {
  width: 100%;
  height: auto;
}